<div class="containerMain">
    <div class="container">
        <h2>Select Location</h2>

        <div class="dropdownContainer">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" style="z-index:10" data-toggle="dropdown">
                    {{selectedCountry}}
                </button>
                <div class="dropdown-menu">
                    <h5 class="dropdown-header">Select country</h5>
                    <a *ngFor="let country of listOfCountry; let i = index" class="dropdown-item"
                        (click)="selectCountry(i,country.c_id,country.name)">{{country.name}}</a>
                </div>
            </div>



            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" style="margin-left: 20px;"
                    data-toggle="dropdown">
                    {{selectedState}}
                </button>
                <div class="dropdown-menu">
                    <h5 class="dropdown-header">Select state</h5>
                    <a *ngFor="let state of selectedListOfStates; let i = index" data-target="#demo"
                        [attr.data-slide-to]="i" class="dropdown-item"
                        (click)="selectState(i,state.s_id,state.name)">{{state.name}}</a>
                </div>
            </div>

            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" style="margin-left: 20px;"
                    data-toggle="dropdown">
                    {{selectedCity}}
                </button>
                <div class="dropdown-menu">
                    <h5 class="dropdown-header">Select City</h5>
                    <a *ngFor="let city of selectedListOfCity; let i = index" data-target="#demo"
                        [attr.data-slide-to]="i" class="dropdown-item"
                        (click)="selectCity(i,city.t_id,city.name)">{{city.name}}</a>

                </div>
            </div>

            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" style="margin-left: 20px;"
                    data-toggle="dropdown">
                    {{selectedLandmark}}
                </button>
                <div class="dropdown-menu">
                    <h5 class="dropdown-header">Select Landmark</h5>
                    <a *ngFor="let landmark of selectedListOfLandmark; let i = index" data-target="#demo"
                        [attr.data-slide-to]="i" class="dropdown-item"
                        (click)="selectLandmark(i,landmark.name)">{{landmark.name}}</a>

                </div>
            </div>

        </div>
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <!-- <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li> -->
            <li *ngFor="let landmark of selectedListOfLandmark; let i = index" data-target="#demo" [attr.data-slide-to]="i"
                [class.active]="selectedIndex === i" (click)="setIndex(i)"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div *ngFor="let landmark of selectedListOfLandmark; let i = index;"
                [ngClass]="i === 0 ? 'carousel-item active' : 'carousel-item'">
                <img src={{landmark.image}} alt="/assets/img/logo.png">
                <div class="carousel-caption">
                    <h3>{{landmark.name}}</h3>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev" (click)="prevImage()">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next" (click)="nextImage()">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
    <div *ngIf="err" class="noImageErrorDiv">No related images found.</div>

</div>