<div id="sidebar-main" class="col-12 col-md-3 col-xl-2 bd-sidebar top position-fixed">
    <div class="col-md-12">
        <img id="profile-image" src="../../../../assets/images/chat-bot-icon.jpg" >
    </div>
    <h3 id="profile-name">John Doe</h3>
    <h3 id="profile-caption">ui/ux designer in Atlantice</h3>
    <div class="bd-toc-item">
        <nav class="collaps bd-link">
            <ul id="nav-list-head" class="nav bd-sidenav">
                <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a></li>
                <li><a [routerLink]="['/student-list']" routerLinkActive="active">Student List</a></li>
                <li><a [routerLink]="['/pipe']" routerLinkActive="active">pipe</a></li>
                <li><a href="/pipe">About</a></li>
                <li><a [routerLink]="['/accordian']" routerLinkActive="active">Accordian</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>

</div>